@media (max-device-width: 768px) { 
  .couplePhoto{
  height:25vw;
  background-image: url("/wesandsab.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
	}
}