@import url(http://fonts.googleapis.com/css?family=Cinzel);

body{
  font-family: 'Cinzel', serif;
}

.wrapper{
  text-align: center;
}

.introduction{
  text-align: center;
}

.mapBackground{
  height: 400px;
}
iframe{
  width: 100%;
  height: 100%;
}

.frontRow{
  padding-top: 25px;
  padding-bottom: 25px;
  color:white;
  /*Change background color later*/
  /*For older browsers that dont have rgba */
  background: grey;
  background-color: rgba(40,40,40,1);
}
.paymentsRow{
  background-color: maroon;
}
.faq{
  background-color: maroon;

}
.couplePhoto{
  height:20vw;
  background-image: url("/wesandsab.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.seeThroughRow{
  /*For older browsers that dont have rgba */
  background-color: white;
  background-color: rgba(0,0,0,.0);
}

.welcome{
  padding-bottom: 20px;
  padding-top: 20px;
}
.paymentDefine{
  
  /*padding-left: 3%;*/
}
.donateButton{
  margin-top: 3%;
  margin-bottom: 3%;
}
.faq{
  text-align: left;
}

.internalRowWrapper{
  padding-left: 9%;  
  padding-right: 9%;  

  /*For older browsers that dont have rgba */
  color: black;
  color: rgba(255,255,255,1); 
}

span.maroon {
  color:maroon;
} 
span.grey{
  color:rgba(40,40,40,1);
}
span.largeGreyIcon{
  font-size: 55px;
  color:rgba(40,40,40,1);
}
span.largeWhiteIcon{
  font-size: 35px;
  color:white;
}
.centerAlign{
  text-align: center;
}
.timeline{
  color:rgba(40,40,40,1);
  background: grey;
  background-color: rgba(40,40,40,1);
}

.timeline .cd-date{
  color:white;
}
span.timelineIcon{
  font-size: 190%;
  color:white;
}
.faqTitle{
  text-align: center;
}

/*CUSTOM BUTTON*/
.btn-white {
  background-color: hsl(0, 0%, 97%) !important;
  color:black;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f7f7f7");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f7f7f7));
  background-image: -moz-linear-gradient(top, #f7f7f7, #f7f7f7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #f7f7f7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #f7f7f7);
  background-image: -o-linear-gradient(top, #f7f7f7, #f7f7f7);
  background-image: linear-gradient(#f7f7f7, #f7f7f7);
  border-color: #f7f7f7 #f7f7f7 hsl(0, 0%, 97%);
}
